.u-section-1 .u-sheet-1 {min-height: 696px}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin: 0 auto 37px 0}
.u-section-1 .u-layout-cell-1 {min-height: 696px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {position: relative; margin-right: 0; margin-left: 0; font-weight: 700; font-size: 1.25rem}
.u-section-1 .u-layout-cell-2 {min-height: 696px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-1 {width: 430px; height: 419px; margin: 139px auto 75px 17px}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: -329px -79px 369px 79px}
.u-section-1 .u-layout-cell-3 {min-height: 696px}
.u-section-1 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-shape-1 {width: 484px; background-image: none; height: 507px; margin: 139px auto 0 -135px}
.u-section-1 .u-image-2 {width: 66px; height: 325px; margin: -468px 116px 241px auto} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-1 {width: 354px; height: 346px; margin: 135px -37px 70px}
.u-section-1 .u-text-2 {width: auto; margin-right: -65px; margin-left: 65px}
.u-section-1 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-shape-1 {width: 357px; height: 357px; margin-top: 291px; margin-left: -208px}
.u-section-1 .u-image-2 {width: 54px; height: 268px; margin: -307px auto 135px 21px} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-image-1 {width: 271px; height: 265px; margin: 169px auto 75px 7px}
.u-section-1 .u-text-2 {margin-right: -50px; margin-left: 50px}
.u-section-1 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-shape-1 {width: 287px; height: 274px; margin-top: 264px; margin-left: -67px; left: 0}
.u-section-1 .u-image-2 {width: 42px; height: 205px; margin: -240px 73px 241px auto} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 665px}
.u-section-1 .u-layout-wrap-1 {width: 491px; margin-right: 0; margin-left: auto}
.u-section-1 .u-layout-cell-1 {min-height: 15px; z-index: 0}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-layout-cell-2 {min-height: 426px; z-index: 3}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-image-1 {width: 280px; height: 280px; margin-top: 178px; margin-bottom: 0; margin-left: 65px}
.u-section-1 .u-text-2 {width: 478px; margin: -386px 2px 317px}
.u-section-1 .u-layout-cell-3 {min-height: 187px; z-index: 1}
.u-section-1 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-shape-1 {width: 275px; height: 312px; margin-top: -136px; margin-right: 2px; margin-left: auto}
.u-section-1 .u-image-2 {width: 46px; height: 278px; margin-top: -284px; margin-right: 48px; margin-bottom: 17px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 674px}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin: -3px auto -488px 16px}
.u-section-1 .u-layout-cell-1 {z-index: auto}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 1px}
.u-section-1 .u-layout-cell-2 {min-height: 493px; z-index: auto}
.u-section-1 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-image-1 {width: 254px; height: 248px; margin-top: 160px; margin-left: 0}
.u-section-1 .u-text-2 {width: 333px; margin: -319px 4px 366px 0}
.u-section-1 .u-layout-cell-3 {min-height: 166px; z-index: auto}
.u-section-1 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-shape-1 {width: 243px; height: 243px; margin-top: -222px; margin-right: auto; margin-left: 127px}
.u-section-1 .u-image-2 {width: 33px; height: 162px; margin-top: -183px; margin-right: 27px; margin-bottom: 166px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 6px auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 167px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-shape-1 {width: 660px; height: 250px; margin: 0 -65px -83px}
.u-section-2 .u-image-1 {width: 12px; height: 38px; margin: -237px auto 0 52px}
.u-section-2 .u-text-1 {font-size: 1.875rem; font-weight: 700; width: NaNpx; margin: 20px 52px 0 182px}
.u-section-2 .u-text-2 {font-size: 1.5rem; width: NaNpx; margin: 20px 52px 50px 182px}
.u-section-2 .u-text-3 {position: relative; margin-left: 125px; margin-right: 109px}
.u-section-2 .u-layout-cell-2 {min-height: 167px}
.u-section-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-image-2 {width: 118px; height: 270px; margin: -334px 9px 0 auto}
.u-section-2 .u-text-4 {position: relative; width: NaNpx; margin: 28px -5px 15px 5px}
.u-section-2 .u-layout-cell-3 {min-height: 167px}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-image-3 {width: 11px; height: 38px; margin: -494px auto 0 105px}
.u-section-2 .u-text-5 {font-size: 1.875rem; font-weight: 700; width: NaNpx; margin: -42px 105px 0 139px}
.u-section-2 .u-text-6 {font-size: 1.5rem; width: NaNpx; margin: 0 105px 70px 138px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-shape-1 {width: 544px; margin-left: -54px; margin-right: -54px}
.u-section-2 .u-image-1 {width: 10px; height: 31px; margin-top: -230px; margin-left: 43px}
.u-section-2 .u-text-1 {margin-right: 43px; margin-left: 150px}
.u-section-2 .u-text-2 {margin-right: 43px; margin-left: 150px}
.u-section-2 .u-text-3 {margin-left: 103px; margin-right: 90px}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-image-2 {width: 97px; height: 223px; margin-top: -287px; margin-right: 7px}
.u-section-2 .u-text-4 {margin-left: 4px; margin-right: -4px}
.u-section-2 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-image-3 {width: 9px; height: 31px; margin-top: -487px; margin-left: 87px}
.u-section-2 .u-text-5 {margin-right: 87px; margin-left: 115px}
.u-section-2 .u-text-6 {margin-right: 87px; margin-left: 114px} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-shape-1 {width: 417px; margin-left: -41px; margin-right: -41px}
.u-section-2 .u-image-1 {width: 8px; height: 24px; margin-top: -223px; margin-left: 33px}
.u-section-2 .u-text-1 {margin-right: 33px; margin-left: 115px}
.u-section-2 .u-text-2 {margin-right: 33px; margin-left: 115px}
.u-section-2 .u-text-3 {margin-left: 79px; margin-right: 69px}
.u-section-2 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-image-2 {width: 75px; height: 171px; margin-top: -235px; margin-right: 6px}
.u-section-2 .u-text-4 {margin-left: 3px; margin-right: -3px}
.u-section-2 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-image-3 {width: 7px; height: 24px; margin-top: -480px; margin-left: 66px}
.u-section-2 .u-text-5 {margin-right: 66px; margin-left: 88px}
.u-section-2 .u-text-6 {margin-right: 66px; margin-left: 87px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 701px}
.u-section-2 .u-layout-cell-1 {min-height: 655px}
.u-section-2 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-shape-1 {width: 672px; height: 300px; margin: 7px auto 0 -75px}
.u-section-2 .u-image-1 {width: 11px; height: 38px; margin-top: -235px; margin-left: 99px}
.u-section-2 .u-text-1 {width: 297px; margin-top: -37px; margin-right: 117px; margin-left: 116px}
.u-section-2 .u-text-2 {width: auto; margin: -5px 109px 0 125px}
.u-section-2 .u-text-3 {width: auto; font-size: 1.5rem; font-weight: 700; font-style: italic; margin: 266px 127px 44px 107px}
.u-section-2 .u-layout-cell-2 {min-height: 145px}
.u-section-2 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-image-2 {width: 118px; height: 270px; margin-top: -328px; margin-right: 17px}
.u-section-2 .u-text-4 {font-size: 1.25rem; width: auto; margin-top: 22px; margin-right: -5px; margin-left: 5px}
.u-section-2 .u-layout-cell-3 {min-height: 15px}
.u-section-2 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-image-3 {width: 11px; height: 38px; margin-top: -494px; margin-left: 105px}
.u-section-2 .u-text-5 {width: auto; margin-right: 105px; margin-left: 139px}
.u-section-2 .u-text-6 {width: auto; margin-right: 105px; margin-left: 138px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1096px}
.u-section-2 .u-layout-wrap-1 {margin-top: 20px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: auto}
.u-section-2 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-2 .u-shape-1 {width: 362px; height: 502px; margin-left: -22px}
.u-section-2 .u-image-1 {margin-top: -437px; margin-left: 8px}
.u-section-2 .u-text-1 {width: 271px; margin-right: 32px; margin-left: 35px}
.u-section-2 .u-text-2 {margin-right: 32px; margin-left: 37px; width: 267px}
.u-section-2 .u-text-3 {margin-right: 38px; margin-left: 32px; width: 267px}
.u-section-2 .u-layout-cell-2 {min-height: auto}
.u-section-2 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-2 .u-image-2 {margin-right: 5px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0}
.u-section-2 .u-text-4 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: -1px; margin-left: 1px; width: 337px}
.u-section-2 .u-container-layout-3 {padding-left: 1px; padding-right: 1px}
.u-section-2 .u-image-3 {min-height: 0; margin-top: 80px; margin-left: 10px}
.u-section-2 .u-text-5 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-top: -40px; margin-right: 0; margin-left: 36px; width: 304px}
.u-section-2 .u-text-6 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: 31px; margin-bottom: 1px; margin-left: 41px; width: 268px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 740px}
.u-section-3 .u-layout-wrap-1 {width: 1189px; margin: 0 auto 0 -49px}
.u-section-3 .u-layout-cell-1 {min-height: 740px}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 20px}
.u-section-3 .u-shape-1 {width: 520px; height: 762px; margin: 0 auto 0 -140px}
.u-section-3 .u-image-1 {width: 14px; height: 46px; margin: -639px auto 0 -16px}
.u-section-3 .u-image-2 {width: 14px; height: 46px; margin: 363px auto 0 -16px}
.u-section-3 .u-text-1 {font-size: 1.875rem; font-weight: 700; margin: -458px -13px 0 14px}
.u-section-3 .u-text-2 {font-size: 1.5rem; margin: 2px 0 0}
.u-section-3 .u-text-3 {font-size: 1.875rem; font-weight: 700; margin: 205px -14px 0 14px}
.u-section-3 .u-text-4 {font-size: 1.5rem; margin: 0 0 80px}
.u-section-3 .u-layout-cell-2 {min-height: 740px}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-shape-2 {width: 212px; height: 762px; margin: 0 auto 0 -27px}
.u-section-3 .u-image-3 {width: 263px; height: 606px; position: relative; margin: -687px auto 75px 47px}
.u-section-3 .u-layout-cell-3 {min-height: 740px}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-image-4 {width: 14px; height: 46px; margin: 267px auto 0 -16px}
.u-section-3 .u-text-5 {font-size: 1.875rem; font-weight: 700; margin: -42px -20px 0 16px}
.u-section-3 .u-text-6 {font-size: 1.5rem; margin: 4px -20px 281px 16px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 777px}
.u-section-3 .u-layout-wrap-1 {width: 980px; margin-left: -40px}
.u-section-3 .u-layout-cell-1 {min-height: 777px}
.u-section-3 .u-container-layout-1 {padding-left: 13px; padding-right: 16px}
.u-section-3 .u-shape-1 {width: 431px; height: 775px; margin-left: -117px}
.u-section-3 .u-image-1 {width: 12px; height: 38px; margin-top: -644px; margin-left: -13px}
.u-section-3 .u-image-2 {width: 12px; height: 38px; margin-top: 386px; margin-left: -13px}
.u-section-3 .u-text-1 {margin-top: -481px; margin-right: -11px; margin-left: 12px}
.u-section-3 .u-text-3 {margin-right: -11px; margin-left: 12px}
.u-section-3 .u-text-4 {margin-bottom: 59px}
.u-section-3 .u-layout-cell-2 {min-height: 777px}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-shape-2 {width: 185px; height: 775px; margin-left: -33px}
.u-section-3 .u-image-3 {width: 217px; height: 500px; margin-top: -594px; margin-bottom: 97px; margin-left: 38px}
.u-section-3 .u-layout-cell-3 {min-height: 777px}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-image-4 {width: 12px; height: 38px; margin-left: -13px}
.u-section-3 .u-text-5 {margin-right: -16px; margin-left: 13px}
.u-section-3 .u-text-6 {margin-right: -16px; margin-bottom: 203px; margin-left: 13px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 776px}
.u-section-3 .u-layout-wrap-1 {width: 739px; margin-bottom: -15px; margin-left: -19px}
.u-section-3 .u-layout-cell-1 {min-height: 795px}
.u-section-3 .u-container-layout-1 {padding-left: 8px; padding-right: 10px}
.u-section-3 .u-shape-1 {width: 330px; height: 788px; margin-left: -74px}
.u-section-3 .u-image-1 {width: 9px; height: 29px; margin-top: -680px; margin-left: -8px}
.u-section-3 .u-image-2 {width: 9px; height: 29px; margin-top: 395px; margin-left: -8px}
.u-section-3 .u-text-1 {margin-top: -458px; margin-right: -7px; margin-left: 7px}
.u-section-3 .u-text-3 {width: auto; margin-top: 94px}
.u-section-3 .u-text-4 {width: auto; margin-right: -7px; margin-bottom: 8px; margin-left: 7px}
.u-section-3 .u-layout-cell-2 {min-height: 795px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-shape-2 {width: 129px; height: 788px; margin-left: -10px}
.u-section-3 .u-image-3 {width: 205px; height: 471px; margin-top: -592px; margin-bottom: 113px; margin-left: 11px}
.u-section-3 .u-layout-cell-3 {min-height: 795px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-4 {width: 9px; height: 29px; margin-left: -8px}
.u-section-3 .u-text-5 {margin-right: -10px; margin-left: 8px}
.u-section-3 .u-text-6 {margin-right: -10px; margin-bottom: 98px; margin-left: 8px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: auto}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 0; width: 552px; margin-left: -12px}
.u-section-3 .u-layout-cell-1 {min-height: auto}
.u-section-3 .u-container-layout-1 {padding-left: 4px; padding-right: 5px}
.u-section-3 .u-shape-1 {width: 643px; height: 560px; margin-left: -35px}
.u-section-3 .u-image-1 {width: 8px; height: 27px; margin-top: -450px; margin-left: -4px}
.u-section-3 .u-image-2 {width: 8px; height: 27px; margin-left: -4px}
.u-section-3 .u-text-1 {margin-right: -3px; margin-left: 4px}
.u-section-3 .u-text-3 {margin-right: -5px; margin-left: 6px; width: 543px}
.u-section-3 .u-text-4 {width: 543px; margin-right: -3px; margin-bottom: 33px; margin-left: 3px}
.u-section-3 .u-layout-cell-2 {min-height: auto}
.u-section-3 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-shape-2 {width: 121px; height: 775px; margin-left: -5px}
.u-section-3 .u-image-3 {width: 192px; height: 442px; margin-top: -550px; margin-bottom: 110px; margin-left: auto}
.u-section-3 .u-layout-cell-3 {min-height: auto}
.u-section-3 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-image-4 {width: 8px; height: 27px; margin-left: -4px}
.u-section-3 .u-text-5 {margin-right: -5px; margin-left: 4px}
.u-section-3 .u-text-6 {margin-right: -5px; margin-bottom: 127px; margin-left: 4px} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {width: 355px; margin-left: -15px}
.u-section-3 .u-container-layout-1 {padding-left: 5px; padding-right: 6px}
.u-section-3 .u-shape-1 {width: 258px; height: 762px; margin-left: -42px}
.u-section-3 .u-image-1 {width: 7px; height: 23px; margin-top: -616px; margin-left: -5px}
.u-section-3 .u-image-2 {width: 7px; height: 23px; margin-top: 363px; margin-left: -5px}
.u-section-3 .u-text-1 {margin-right: -4px}
.u-section-3 .u-text-3 {margin-top: 205px; margin-left: 4px; margin-right: -4px; width: NaNpx}
.u-section-3 .u-text-4 {margin-left: 0; margin-right: 0; margin-bottom: 80px; width: NaNpx}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-shape-2 {width: 105px; height: 762px; margin-left: -8px}
.u-section-3 .u-image-3 {width: 131px; height: 301px; margin-top: -382px; margin-bottom: 75px; margin-left: 14px}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-image-4 {width: 7px; height: 23px; margin-left: -5px}
.u-section-3 .u-text-5 {margin-right: -6px; margin-left: 5px}
.u-section-3 .u-text-6 {margin-right: -6px; margin-bottom: 281px; margin-left: 5px} }.u-section-4 {min-height: 741px}
.u-section-4 .u-group-1 {margin-top: 0; min-height: 740px; height: auto; margin-bottom: 0; width: 1380px; margin-left: 0}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-image-1 {width: 248px; height: 321px; margin: 210px auto 0}
.u-section-4 .u-image-2 {width: 640px; height: 625px; margin: -509px auto 0}
.u-section-4 .u-text-1 {font-weight: 700; margin: -325px -76px 0 76px}
.u-section-4 .u-text-2 {font-weight: 700; margin: -71px -881px 0 881px}
.u-section-4 .u-text-3 {font-weight: 700; margin: -126px -503px 0 503px}
.u-section-4 .u-text-4 {font-weight: 700; margin: 352px -591px 0 591px}
.u-section-4 .u-text-5 {font-weight: 700; margin: 91px -573px 0 573px}
.u-section-4 .u-text-6 {font-weight: 700; margin: -46px -811px 0 811px}
.u-section-4 .u-text-7 {font-weight: 700; margin: -165px -1000px 0 1000px}
.u-section-4 .u-text-8 {font-weight: 700; margin: -58px -76px 0 76px}
.u-section-4 .u-text-9 {font-weight: 700; margin: -298px -96px 0 96px}
.u-section-4 .u-text-10 {font-weight: 700; margin: 397px -620px 0 620px}
.u-section-4 .u-text-11 {font-weight: 700; margin: -379px -1012px 105px 1012px}
.u-section-4 .u-text-12 {font-weight: 700; margin: -632px calc(((100% - 1140px) / 2) + -1040px) 608px calc(((100% - 1140px) / 2) + 840px)} 

@media (max-width: 1199px){ .u-section-4 {min-height: 703px}
.u-section-4 .u-group-1 {min-height: 702px; margin-left: initial; width: auto}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-image-1 {width: 204px; height: 264px}
.u-section-4 .u-image-2 {width: 528px; height: 515px; margin-top: -399px}
.u-section-4 .u-text-1 {margin-right: -62px; margin-left: 62px}
.u-section-4 .u-text-2 {width: auto; margin-top: -50px; margin-right: -788px; margin-left: 788px}
.u-section-4 .u-text-3 {width: auto; margin-top: -96px; margin-right: -346px; margin-left: 346px}
.u-section-4 .u-text-4 {margin-top: 300px; margin-right: -488px; margin-left: 488px}
.u-section-4 .u-text-5 {width: auto; margin-top: 70px; margin-right: -374px; margin-left: 374px}
.u-section-4 .u-text-6 {margin-top: -25px; margin-right: -669px; margin-left: 669px}
.u-section-4 .u-text-7 {margin-top: -95px; margin-right: -800px; margin-left: 800px}
.u-section-4 .u-text-8 {width: auto; margin-top: -96px; margin-right: -755px; margin-left: 755px}
.u-section-4 .u-text-9 {width: auto; margin-top: 46px; margin-right: -50px; margin-left: 50px}
.u-section-4 .u-text-10 {width: auto; margin-top: -19px; margin-right: -464px; margin-left: 464px}
.u-section-4 .u-text-11 {width: auto; margin: -222px -813px 70px 813px}
.u-section-4 .u-text-12 {width: auto; margin: -542px calc(((100% - 940px) / 2) + -853px) 518px calc(((100% - 940px) / 2) + 688px)} }

@media (max-width: 991px){ .u-section-4 {min-height: 637px}
.u-section-4 .u-group-1 {min-height: 636px; width: auto; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-image-1 {width: 156px; height: 202px}
.u-section-4 .u-image-2 {width: 404px; height: 395px; margin-top: -279px}
.u-section-4 .u-text-1 {width: auto; margin-top: -25px; margin-right: 277px; margin-left: -269px}
.u-section-4 .u-text-2 {margin-top: -420px; margin-left: 4px; margin-right: 4px; width: 787px}
.u-section-4 .u-text-3 {margin-top: -45px; margin-left: 4px; margin-right: 4px; width: 787px}
.u-section-4 .u-text-4 {width: auto; margin-top: 96px; margin-right: 277px; margin-left: -269px}
.u-section-4 .u-text-5 {margin-top: 108px; margin-right: -261px; margin-left: 268px}
.u-section-4 .u-text-6 {width: auto; margin-top: 155px; margin-right: -249px; margin-left: 257px}
.u-section-4 .u-text-7 {width: auto; margin-top: -396px; margin-right: -261px; margin-left: 268px}
.u-section-4 .u-text-8 {margin-top: 371px; margin-right: 0; margin-left: 9px}
.u-section-4 .u-text-9 {margin-top: -453px; margin-right: 195px; margin-left: -187px}
.u-section-4 .u-text-10 {margin-top: 198px; margin-right: 309px; margin-left: -300px}
.u-section-4 .u-text-11 {margin: -160px -286px 403px 294px}
.u-section-4 .u-text-12 {margin: -775px calc(((100% - 720px) / 2) + -651px) 751px calc(((100% - 720px) / 2) + 525px)} }

@media (max-width: 767px){ .u-section-4 {min-height: 591px}
.u-section-4 .u-group-1 {min-height: 590px; width: auto; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-image-1 {width: 147px; height: 190px}
.u-section-4 .u-image-2 {width: 379px; height: 370px; margin-top: -254px}
.u-section-4 .u-text-1 {margin-top: -325px; margin-right: -36px; margin-left: 36px; width: 621px}
.u-section-4 .u-text-2 {width: 621px; margin-top: -71px; margin-right: -418px; margin-left: 418px}
.u-section-4 .u-text-3 {width: auto; margin-top: -125px; margin-right: -137px; margin-left: 137px}
.u-section-4 .u-text-4 {margin-top: 343px; margin-right: -237px; margin-left: 237px}
.u-section-4 .u-text-5 {margin-top: 97px; margin-right: -183px; margin-left: 183px}
.u-section-4 .u-text-6 {margin-top: -44px; margin-right: -244px; margin-left: 244px}
.u-section-4 .u-text-7 {margin-top: -456px; margin-left: 261px}
.u-section-4 .u-text-8 {margin-top: 133px; margin-right: -9px}
.u-section-4 .u-text-9 {margin-top: 229px; margin-right: -9px; margin-left: 9px}
.u-section-4 .u-text-10 {width: 621px; margin-top: -31px; margin-right: -294px; margin-left: 294px}
.u-section-4 .u-text-11 {width: 621px; margin: -285px -479px 0 479px}
.u-section-4 .u-text-12 {margin: -858px calc(((100% - 540px) / 2) + -182px) 834px calc(((100% - 540px) / 2) + 63px)} }

@media (max-width: 575px){ .u-section-4 {min-height: 741px}
.u-section-4 .u-group-1 {min-height: 741px; width: auto; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-4 .u-image-1 {width: 123px; height: 159px}
.u-section-4 .u-image-2 {width: 318px; height: 311px; margin-top: -194px}
.u-section-4 .u-text-1 {margin-top: -331px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-2 {margin-top: -65px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-3 {margin-top: -107px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-4 {margin-top: 572px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-5 {margin-top: -148px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-6 {margin-top: 0; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-7 {margin-top: -71px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-8 {margin-top: 85px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-9 {margin-top: -63px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-10 {margin-top: -122px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-4 .u-text-11 {width: 435px; margin: -356px 1px 585px}
.u-section-4 .u-text-12 {margin: -678px calc(((100% - 340px) / 2) + -210px) 652px calc(((100% - 340px) / 2) + 33px)} }