.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin: 6px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 167px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-shape-1 {width: 660px; height: 250px; margin: 0 -65px -83px}
.u-section-1 .u-image-1 {width: 12px; height: 38px; margin: -237px auto 0 52px}
.u-section-1 .u-text-1 {font-size: 1.875rem; font-weight: 700; width: NaNpx; margin: 20px 52px 0 182px}
.u-section-1 .u-text-2 {font-size: 1.5rem; width: NaNpx; margin: 20px 52px 50px 182px}
.u-section-1 .u-text-3 {position: relative; margin-left: 125px; margin-right: 109px}
.u-section-1 .u-layout-cell-2 {min-height: 167px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-2 {width: 118px; height: 270px; margin: -334px 9px 0 auto}
.u-section-1 .u-text-4 {position: relative; width: NaNpx; margin: 28px -5px 15px 5px}
.u-section-1 .u-layout-cell-3 {min-height: 167px}
.u-section-1 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-3 {width: 11px; height: 38px; margin: -494px auto 0 105px}
.u-section-1 .u-text-5 {font-size: 1.875rem; font-weight: 700; width: NaNpx; margin: -42px 105px 0 139px}
.u-section-1 .u-text-6 {font-size: 1.5rem; width: NaNpx; margin: 0 105px 70px 138px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-shape-1 {width: 545px; margin-left: -54px; margin-right: -54px}
.u-section-1 .u-image-1 {width: 10px; height: 32px; margin-top: -230px; margin-left: 43px}
.u-section-1 .u-text-1 {margin-right: 43px; margin-left: 150px}
.u-section-1 .u-text-2 {margin-right: 43px; margin-left: 150px}
.u-section-1 .u-text-3 {margin-left: 103px; margin-right: 90px}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-2 {width: 97px; height: 223px; margin-top: -287px; margin-right: 8px}
.u-section-1 .u-text-4 {margin-left: 4px; margin-right: -4px}
.u-section-1 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-3 {width: 9px; height: 32px; margin-top: -487px; margin-left: 87px}
.u-section-1 .u-text-5 {margin-right: 87px; margin-left: 115px}
.u-section-1 .u-text-6 {margin-right: 87px; margin-left: 114px} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-shape-1 {width: 417px; margin-left: -41px; margin-right: -41px}
.u-section-1 .u-image-1 {width: 7px; height: 24px; margin-top: -223px; margin-left: 33px}
.u-section-1 .u-text-1 {margin-right: 33px; margin-left: 115px}
.u-section-1 .u-text-2 {margin-right: 33px; margin-left: 115px}
.u-section-1 .u-text-3 {margin-left: 79px; margin-right: 69px}
.u-section-1 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-image-2 {width: 74px; height: 171px; margin-top: -235px; margin-right: 6px}
.u-section-1 .u-text-4 {margin-left: 3px; margin-right: -3px}
.u-section-1 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-image-3 {width: 7px; height: 24px; margin-top: -480px; margin-left: 66px}
.u-section-1 .u-text-5 {margin-right: 66px; margin-left: 88px}
.u-section-1 .u-text-6 {margin-right: 66px; margin-left: 87px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 701px}
.u-section-1 .u-layout-cell-1 {min-height: 655px}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-shape-1 {width: 672px; height: 300px; margin: 7px auto 0 -75px}
.u-section-1 .u-image-1 {width: 11px; height: 38px; margin-top: -235px; margin-left: 99px}
.u-section-1 .u-text-1 {width: 297px; margin-top: -37px; margin-right: 117px; margin-left: 116px}
.u-section-1 .u-text-2 {width: auto; margin: -5px 109px 0 125px}
.u-section-1 .u-text-3 {width: auto; font-size: 1.5rem; font-weight: 700; font-style: italic; margin: 266px 127px 44px 107px}
.u-section-1 .u-layout-cell-2 {min-height: 145px}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-image-2 {width: 118px; height: 270px; margin-top: -328px; margin-right: 17px}
.u-section-1 .u-text-4 {font-size: 1.25rem; width: auto; margin-top: 22px; margin-right: -5px; margin-left: 5px}
.u-section-1 .u-layout-cell-3 {min-height: 15px}
.u-section-1 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-image-3 {width: 11px; height: 38px; margin-top: -494px; margin-left: 105px}
.u-section-1 .u-text-5 {width: auto; margin-right: 105px; margin-left: 139px}
.u-section-1 .u-text-6 {width: auto; margin-right: 105px; margin-left: 138px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1096px}
.u-section-1 .u-layout-wrap-1 {margin-top: 20px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: auto}
.u-section-1 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-shape-1 {width: 362px; height: 502px; margin-left: -22px}
.u-section-1 .u-image-1 {margin-top: -437px; margin-left: 8px}
.u-section-1 .u-text-1 {width: 271px; margin-right: 32px; margin-left: 35px}
.u-section-1 .u-text-2 {margin-right: 32px; margin-left: 37px; width: 267px}
.u-section-1 .u-text-3 {margin-right: 38px; margin-left: 32px; width: 267px}
.u-section-1 .u-layout-cell-2 {min-height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-image-2 {margin-right: 5px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0}
.u-section-1 .u-text-4 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: -1px; margin-left: 1px; width: 337px}
.u-section-1 .u-container-layout-3 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-image-3 {min-height: 0; margin-top: 80px; margin-left: 10px}
.u-section-1 .u-text-5 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-top: -40px; margin-right: 0; margin-left: 36px; width: 304px}
.u-section-1 .u-text-6 {top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin-right: 31px; margin-bottom: 1px; margin-left: 41px; width: 268px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 740px}
.u-section-2 .u-layout-wrap-1 {width: 1189px; margin: 0 auto 0 -49px}
.u-section-2 .u-layout-cell-1 {min-height: 740px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 20px}
.u-section-2 .u-shape-1 {width: 520px; height: 762px; margin: 0 auto 0 -140px}
.u-section-2 .u-image-1 {width: 14px; height: 46px; margin: -639px auto 0 -16px}
.u-section-2 .u-image-2 {width: 14px; height: 46px; margin: 363px auto 0 -16px}
.u-section-2 .u-text-1 {font-size: 1.875rem; font-weight: 700; margin: -458px -13px 0 14px}
.u-section-2 .u-text-2 {font-size: 1.5rem; margin: 2px 0 0}
.u-section-2 .u-text-3 {font-size: 1.875rem; font-weight: 700; margin: 205px -14px 0 14px}
.u-section-2 .u-text-4 {font-size: 1.5rem; margin: 0 0 80px}
.u-section-2 .u-layout-cell-2 {min-height: 740px}
.u-section-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-shape-2 {width: 212px; height: 762px; margin: 0 auto 0 -27px}
.u-section-2 .u-image-3 {width: 263px; height: 606px; position: relative; margin: -687px auto 75px 47px}
.u-section-2 .u-layout-cell-3 {min-height: 740px}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-image-4 {width: 14px; height: 46px; margin: 267px auto 0 -16px}
.u-section-2 .u-text-5 {font-size: 1.875rem; font-weight: 700; margin: -42px -20px 0 16px}
.u-section-2 .u-text-6 {font-size: 1.5rem; margin: 4px -20px 281px 16px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 777px}
.u-section-2 .u-layout-wrap-1 {width: 980px; margin-left: -40px}
.u-section-2 .u-layout-cell-1 {min-height: 777px}
.u-section-2 .u-container-layout-1 {padding-left: 13px; padding-right: 16px}
.u-section-2 .u-shape-1 {width: 431px; height: 775px; margin-left: -117px}
.u-section-2 .u-image-1 {width: 12px; height: 38px; margin-top: -644px; margin-left: -13px}
.u-section-2 .u-image-2 {width: 12px; height: 38px; margin-top: 386px; margin-left: -13px}
.u-section-2 .u-text-1 {margin-top: -481px; margin-right: -11px; margin-left: 12px}
.u-section-2 .u-text-3 {margin-right: -11px; margin-left: 12px}
.u-section-2 .u-text-4 {margin-bottom: 59px}
.u-section-2 .u-layout-cell-2 {min-height: 777px}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-shape-2 {width: 185px; height: 775px; margin-left: -33px}
.u-section-2 .u-image-3 {width: 217px; height: 500px; margin-top: -594px; margin-bottom: 97px; margin-left: 38px}
.u-section-2 .u-layout-cell-3 {min-height: 777px}
.u-section-2 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-image-4 {width: 12px; height: 38px; margin-left: -13px}
.u-section-2 .u-text-5 {margin-right: -16px; margin-left: 13px}
.u-section-2 .u-text-6 {margin-right: -16px; margin-bottom: 203px; margin-left: 13px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 776px}
.u-section-2 .u-layout-wrap-1 {width: 739px; margin-bottom: -15px; margin-left: -19px}
.u-section-2 .u-layout-cell-1 {min-height: 795px}
.u-section-2 .u-container-layout-1 {padding-left: 8px; padding-right: 10px}
.u-section-2 .u-shape-1 {width: 330px; height: 788px; margin-left: -74px}
.u-section-2 .u-image-1 {width: 9px; height: 29px; margin-top: -680px; margin-left: -8px}
.u-section-2 .u-image-2 {width: 9px; height: 29px; margin-top: 395px; margin-left: -8px}
.u-section-2 .u-text-1 {margin-top: -458px; margin-right: -7px; margin-left: 7px}
.u-section-2 .u-text-3 {width: auto; margin-top: 94px}
.u-section-2 .u-text-4 {width: auto; margin-right: -7px; margin-bottom: 8px; margin-left: 7px}
.u-section-2 .u-layout-cell-2 {min-height: 795px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-shape-2 {width: 129px; height: 788px; margin-left: -10px}
.u-section-2 .u-image-3 {width: 205px; height: 471px; margin-top: -592px; margin-bottom: 113px; margin-left: 11px}
.u-section-2 .u-layout-cell-3 {min-height: 795px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-4 {width: 9px; height: 29px; margin-left: -8px}
.u-section-2 .u-text-5 {margin-right: -10px; margin-left: 8px}
.u-section-2 .u-text-6 {margin-right: -10px; margin-bottom: 98px; margin-left: 8px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: auto}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 0; width: 552px; margin-left: -12px}
.u-section-2 .u-layout-cell-1 {min-height: auto}
.u-section-2 .u-container-layout-1 {padding-left: 4px; padding-right: 5px}
.u-section-2 .u-shape-1 {width: 643px; height: 560px; margin-left: -35px}
.u-section-2 .u-image-1 {width: 8px; height: 27px; margin-top: -450px; margin-left: -4px}
.u-section-2 .u-image-2 {width: 8px; height: 27px; margin-left: -4px}
.u-section-2 .u-text-1 {margin-right: -3px; margin-left: 4px}
.u-section-2 .u-text-3 {margin-right: -5px; margin-left: 6px; width: 543px}
.u-section-2 .u-text-4 {width: 543px; margin-right: -3px; margin-bottom: 33px; margin-left: 3px}
.u-section-2 .u-layout-cell-2 {min-height: auto}
.u-section-2 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-shape-2 {width: 121px; height: 775px; margin-left: -5px}
.u-section-2 .u-image-3 {width: 192px; height: 442px; margin-top: -550px; margin-bottom: 110px; margin-left: auto}
.u-section-2 .u-layout-cell-3 {min-height: auto}
.u-section-2 .u-container-layout-3 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-image-4 {width: 8px; height: 27px; margin-left: -4px}
.u-section-2 .u-text-5 {margin-right: -5px; margin-left: 4px}
.u-section-2 .u-text-6 {margin-right: -5px; margin-bottom: 127px; margin-left: 4px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 354px; margin-left: -14px}
.u-section-2 .u-container-layout-1 {padding-left: 5px; padding-right: 6px}
.u-section-2 .u-shape-1 {width: 259px; height: 762px; margin-left: -42px}
.u-section-2 .u-image-1 {width: 7px; height: 23px; margin-top: -616px; margin-left: -5px}
.u-section-2 .u-image-2 {width: 7px; height: 23px; margin-top: 363px; margin-left: -5px}
.u-section-2 .u-text-1 {margin-right: -4px}
.u-section-2 .u-text-3 {margin-top: 205px; margin-left: 4px; margin-right: -4px; width: NaNpx}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0; margin-bottom: 80px; width: NaNpx}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-shape-2 {width: 105px; height: 762px; margin-left: -8px}
.u-section-2 .u-image-3 {width: 131px; height: 301px; margin-top: -383px; margin-bottom: 75px; margin-left: 14px}
.u-section-2 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-image-4 {width: 7px; height: 23px; margin-left: -5px}
.u-section-2 .u-text-5 {margin-right: -6px; margin-left: 5px}
.u-section-2 .u-text-6 {margin-right: -6px; margin-bottom: 281px; margin-left: 5px} }