.u-section-1 {min-height: 741px}
.u-section-1 .u-group-1 {margin-top: 0; min-height: 740px; height: auto; margin-bottom: 0; width: 1380px; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-1 {width: 248px; height: 321px; margin: 210px auto 0}
.u-section-1 .u-image-2 {width: 640px; height: 625px; margin: -509px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; margin: -325px -76px 0 76px}
.u-section-1 .u-text-2 {font-weight: 700; margin: -71px -881px 0 881px}
.u-section-1 .u-text-3 {font-weight: 700; margin: -126px -503px 0 503px}
.u-section-1 .u-text-4 {font-weight: 700; margin: 352px -591px 0 591px}
.u-section-1 .u-text-5 {font-weight: 700; margin: 91px -573px 0 573px}
.u-section-1 .u-text-6 {font-weight: 700; margin: -46px -811px 0 811px}
.u-section-1 .u-text-7 {font-weight: 700; margin: -165px -1000px 0 1000px}
.u-section-1 .u-text-8 {font-weight: 700; margin: -58px -76px 0 76px}
.u-section-1 .u-text-9 {font-weight: 700; margin: -298px -96px 0 96px}
.u-section-1 .u-text-10 {font-weight: 700; margin: 397px -620px 0 620px}
.u-section-1 .u-text-11 {font-weight: 700; margin: -379px -1012px 105px 1012px}
.u-section-1 .u-text-12 {font-weight: 700; margin: -632px calc(((100% - 1140px) / 2) + -1040px) 608px calc(((100% - 1140px) / 2) + 840px)} 

@media (max-width: 1199px){ .u-section-1 {min-height: 703px}
.u-section-1 .u-group-1 {min-height: 702px; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-1 {width: 204px; height: 264px}
.u-section-1 .u-image-2 {width: 528px; height: 515px; margin-top: -399px}
.u-section-1 .u-text-1 {margin-right: -62px; margin-left: 62px}
.u-section-1 .u-text-2 {width: auto; margin-top: -50px; margin-right: -788px; margin-left: 788px}
.u-section-1 .u-text-3 {width: auto; margin-top: -96px; margin-right: -346px; margin-left: 346px}
.u-section-1 .u-text-4 {margin-top: 300px; margin-right: -488px; margin-left: 488px}
.u-section-1 .u-text-5 {width: auto; margin-top: 70px; margin-right: -374px; margin-left: 374px}
.u-section-1 .u-text-6 {margin-top: -25px; margin-right: -669px; margin-left: 669px}
.u-section-1 .u-text-7 {margin-top: -95px; margin-right: -800px; margin-left: 800px}
.u-section-1 .u-text-8 {width: auto; margin-top: -96px; margin-right: -755px; margin-left: 755px}
.u-section-1 .u-text-9 {width: auto; margin-top: 46px; margin-right: -50px; margin-left: 50px}
.u-section-1 .u-text-10 {width: auto; margin-top: -19px; margin-right: -464px; margin-left: 464px}
.u-section-1 .u-text-11 {width: auto; margin: -222px -813px 70px 813px}
.u-section-1 .u-text-12 {width: auto; margin: -542px calc(((100% - 940px) / 2) + -853px) 518px calc(((100% - 940px) / 2) + 688px)} }

@media (max-width: 991px){ .u-section-1 {min-height: 637px}
.u-section-1 .u-group-1 {min-height: 636px; width: auto; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-image-1 {width: 156px; height: 202px}
.u-section-1 .u-image-2 {width: 404px; height: 395px; margin-top: -279px}
.u-section-1 .u-text-1 {width: auto; margin-top: -25px; margin-right: 277px; margin-left: -269px}
.u-section-1 .u-text-2 {margin-top: -420px; margin-left: 4px; margin-right: 4px; width: 787px}
.u-section-1 .u-text-3 {margin-top: -45px; margin-left: 4px; margin-right: 4px; width: 787px}
.u-section-1 .u-text-4 {width: auto; margin-top: 96px; margin-right: 277px; margin-left: -269px}
.u-section-1 .u-text-5 {margin-top: 108px; margin-right: -261px; margin-left: 268px}
.u-section-1 .u-text-6 {width: auto; margin-top: 155px; margin-right: -249px; margin-left: 257px}
.u-section-1 .u-text-7 {width: auto; margin-top: -396px; margin-right: -261px; margin-left: 268px}
.u-section-1 .u-text-8 {margin-top: 371px; margin-right: 0; margin-left: 9px}
.u-section-1 .u-text-9 {margin-top: -453px; margin-right: 195px; margin-left: -187px}
.u-section-1 .u-text-10 {margin-top: 198px; margin-right: 309px; margin-left: -300px}
.u-section-1 .u-text-11 {margin: -160px -286px 403px 294px}
.u-section-1 .u-text-12 {margin: -775px calc(((100% - 720px) / 2) + -651px) 751px calc(((100% - 720px) / 2) + 525px)} }

@media (max-width: 767px){ .u-section-1 {min-height: 591px}
.u-section-1 .u-group-1 {min-height: 590px; width: auto; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-image-1 {width: 147px; height: 190px}
.u-section-1 .u-image-2 {width: 379px; height: 370px; margin-top: -254px}
.u-section-1 .u-text-1 {margin-top: -325px; margin-right: -36px; margin-left: 36px; width: auto}
.u-section-1 .u-text-2 {width: 621px; margin-top: -71px; margin-right: -418px; margin-left: 418px}
.u-section-1 .u-text-3 {width: auto; margin-top: -125px; margin-right: -137px; margin-left: 137px}
.u-section-1 .u-text-4 {margin-top: 343px; margin-right: -237px; margin-left: 237px}
.u-section-1 .u-text-5 {margin-top: 97px; margin-right: -183px; margin-left: 183px}
.u-section-1 .u-text-6 {margin-top: -44px; margin-right: -244px; margin-left: 244px}
.u-section-1 .u-text-7 {margin-top: -456px; margin-left: 261px}
.u-section-1 .u-text-8 {margin-top: 133px; margin-right: -9px}
.u-section-1 .u-text-9 {margin-top: 229px; margin-right: -9px; margin-left: 9px}
.u-section-1 .u-text-10 {width: 621px; margin-top: -31px; margin-right: -294px; margin-left: 294px}
.u-section-1 .u-text-11 {width: 621px; margin: -285px -479px 0 479px}
.u-section-1 .u-text-12 {margin: -858px calc(((100% - 540px) / 2) + -182px) 834px calc(((100% - 540px) / 2) + 63px)} }

@media (max-width: 575px){ .u-section-1 {min-height: 741px}
.u-section-1 .u-group-1 {min-height: 741px; width: auto; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-image-1 {width: 123px; height: 159px}
.u-section-1 .u-image-2 {width: 318px; height: 311px; margin-top: -194px}
.u-section-1 .u-text-1 {margin-top: -331px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-2 {margin-top: -65px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-3 {margin-top: -107px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-4 {margin-top: 572px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-5 {margin-top: -148px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-6 {margin-top: 0; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-7 {margin-top: -71px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-8 {margin-top: 85px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-9 {margin-top: -63px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-10 {margin-top: -122px; margin-left: 1px; margin-right: 1px; width: 435px}
.u-section-1 .u-text-11 {width: 435px; margin: -356px 1px 585px}
.u-section-1 .u-text-12 {margin: -678px calc(((100% - 340px) / 2) + -210px) 652px calc(((100% - 340px) / 2) + 33px)} }