.u-section-1 {min-height: 699px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 751px}
.u-section-1 .u-container-layout-1 {padding: 20px}
.u-section-1 .u-image-1 {width: 372px; height: 401px; margin: 48px auto 0 337px}
.u-section-1 .u-image-2 {width: 696px; height: 364px; margin: -364px 117px 0 auto}
.u-section-1 .u-image-3 {width: 881px; height: 52px; margin: 0 auto 0 33px}
.u-section-1 .u-text-1 {font-size: 1.25rem; font-weight: 600; width: 710px; margin: 30px 597px 0 33px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {width: 307px; height: 331px; margin-top: 54px; margin-left: 115px}
.u-section-1 .u-image-2 {width: 574px; height: 300px; margin-top: -300px; margin-right: 97px}
.u-section-1 .u-image-3 {width: 726px; height: 43px; margin-left: 28px}
.u-section-1 .u-text-1 {width: auto; margin-top: 5px; margin-right: 537px; margin-left: 35px} }

@media (max-width: 991px){ .u-section-1 {min-height: 548px}
.u-section-1 .u-layout-cell-1 {min-height: 548px}
.u-section-1 .u-image-1 {width: 235px; height: 253px; margin-top: 112px; margin-left: 88px}
.u-section-1 .u-image-2 {width: 439px; height: 230px; margin-top: -328px; margin-right: 74px}
.u-section-1 .u-image-3 {width: 556px; height: 33px; margin-left: 30px}
.u-section-1 .u-text-1 {margin-top: 16px; margin-right: 422px; margin-left: 30px} }

@media (max-width: 767px){ .u-section-1 {min-height: auto}
.u-section-1 .u-layout-cell-1 {min-height: 591px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {width: 220px; height: 238px; margin-top: 190px; margin-left: 66px}
.u-section-1 .u-image-2 {width: 412px; height: 216px; margin-top: -318px; margin-right: auto; margin-left: 91px}
.u-section-1 .u-image-3 {width: 521px; height: 31px; margin-top: 7px; margin-left: auto}
.u-section-1 .u-text-1 {margin-top: 7px; margin-right: 189px; margin-left: 57px} }

@media (max-width: 575px){ .u-section-1 {min-height: 540px}
.u-section-1 .u-layout-cell-1 {min-height: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-1 {margin-top: 99px; margin-left: auto}
.u-section-1 .u-image-2 {height: 161px; width: 308px; margin-top: -293px; margin-left: auto}
.u-section-1 .u-image-3 {width: 317px; height: 61px; margin-top: -9px}
.u-section-1 .u-text-1 {width: 312px; margin-top: 24px; margin-left: auto; margin-right: auto} }.u-section-2 .u-sheet-1 {min-height: 751px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 751px}
.u-section-2 .u-container-layout-1 {padding: 20px}
.u-section-2 .u-image-1 {width: 621px; height: 88px; margin: 450px 71px 0 auto}
.u-section-2 .u-image-2 {width: 630px; height: 406px; margin: -451px auto 0 235px}
.u-section-2 .u-text-1 {font-size: 1.125rem; font-weight: 600; width: 527px; margin: 70px 165px 0 408px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 668px}
.u-section-2 .u-image-1 {width: 512px; height: 73px; margin-top: 371px; margin-right: 59px}
.u-section-2 .u-image-2 {width: 519px; height: 335px; margin-top: -380px; margin-left: 194px}
.u-section-2 .u-text-1 {width: 428px; margin-right: 136px; margin-left: 336px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 641px}
.u-section-2 .u-layout-cell-1 {min-height: 621px}
.u-section-2 .u-image-1 {width: 392px; height: 56px; margin-top: 302px; margin-right: 45px}
.u-section-2 .u-image-2 {width: 398px; height: 256px; margin-top: -302px; margin-left: 148px}
.u-section-2 .u-text-1 {width: 328px; margin-right: 104px; margin-left: 257px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: auto}
.u-section-2 .u-layout-cell-1 {min-height: 585px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {width: 368px; height: 52px; margin-top: 291px; margin-right: 34px}
.u-section-2 .u-image-2 {width: 373px; height: 240px; margin-top: -286px; margin-left: 111px}
.u-section-2 .u-text-1 {width: 269px; margin-right: 78px; margin-left: 193px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 678px}
.u-section-2 .u-layout-wrap-1 {margin-top: 93px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 589px}
.u-section-2 .u-image-1 {width: 320px; height: 45px; margin-top: 277px; margin-left: 0; margin-right: 0}
.u-section-2 .u-image-2 {width: 320px; margin-top: -303px; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-1 {margin-top: 98px; margin-left: 17px; margin-right: 17px; width: 287px} }.u-section-3 .u-sheet-1 {min-height: 751px}
.u-section-3 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 751px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-image-1 {width: 486px; height: 524px; margin: 0 56px 0 auto}
.u-section-3 .u-image-2 {width: 516px; height: 337px; margin: -481px auto 0 96px}
.u-section-3 .u-image-3 {width: 688px; height: 84px; margin: 63px auto 0 10px}
.u-section-3 .u-text-1 {font-size: 1.125rem; font-weight: 300; width: 616px; margin: 36px 455px 0 29px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {width: 401px; height: 432px; margin-top: 20px; margin-right: 46px}
.u-section-3 .u-image-2 {width: 425px; height: 277px; margin-top: -409px; margin-left: 79px}
.u-section-3 .u-image-3 {width: 567px; height: 69px; margin-left: 8px}
.u-section-3 .u-text-1 {width: 501px; margin-right: 375px; margin-left: 24px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 588px}
.u-section-3 .u-layout-cell-1 {min-height: 588px}
.u-section-3 .u-image-1 {width: 307px; height: 331px; margin-top: 69px; margin-right: 35px}
.u-section-3 .u-image-2 {width: 326px; height: 213px; margin-top: -357px; margin-left: 61px}
.u-section-3 .u-image-3 {width: 435px; height: 53px; margin-left: 6px}
.u-section-3 .u-text-1 {width: 384px; margin-right: 287px; margin-left: 18px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-cell-1 {min-height: 591px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 288px; height: 310px; margin-top: 129px; margin-right: 26px}
.u-section-3 .u-image-2 {width: 305px; height: 199px; margin-top: -396px; margin-left: 46px}
.u-section-3 .u-image-3 {width: 407px; height: 50px; margin-left: 5px}
.u-section-3 .u-text-1 {width: 311px; margin-right: 216px; margin-left: 14px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 485px}
.u-section-3 .u-layout-cell-1 {min-height: 485px}
.u-section-3 .u-image-1 {margin-top: 82px; margin-right: auto}
.u-section-3 .u-image-2 {margin-top: -342px; margin-left: auto}
.u-section-3 .u-image-3 {width: 272px; height: 34px; margin-top: 44px; margin-left: auto}
.u-section-3 .u-text-1 {margin-top: 17px; margin-left: 12px; margin-right: 12px; width: 297px} }.u-section-4 .u-sheet-1 {min-height: 751px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 751px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-image-1 {width: 529px; height: 561px; margin: 96px auto 0 0}
.u-section-4 .u-image-2 {width: 853px; height: 314px; margin: -532px 75px 0 auto}
.u-section-4 .u-image-3 {width: 628px; height: 88px; margin: 10px 65px 0 auto}
.u-section-4 .u-text-1 {font-size: 1.125rem; font-weight: 600; width: 527px; margin: 24px 165px 0 408px} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {width: 436px; height: 463px; margin-top: 133px}
.u-section-4 .u-image-2 {width: 703px; height: 259px; margin-top: -465px; margin-right: 62px}
.u-section-4 .u-image-3 {width: 518px; height: 73px; margin-right: 53px}
.u-section-4 .u-text-1 {width: 428px; margin-right: 136px; margin-left: 336px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 560px}
.u-section-4 .u-layout-cell-1 {min-height: 560px}
.u-section-4 .u-image-1 {width: 334px; height: 354px; margin-top: 219px}
.u-section-4 .u-image-2 {width: 539px; height: 198px; margin-top: -460px; margin-right: 48px}
.u-section-4 .u-image-3 {width: 396px; height: 56px; margin-top: 57px; margin-right: 41px}
.u-section-4 .u-text-1 {width: 328px; margin-top: 27px; margin-right: 104px; margin-left: 257px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-layout-cell-1 {min-height: 591px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-1 {width: 313px; height: 332px; margin-top: 271px}
.u-section-4 .u-image-2 {width: 504px; height: 186px; margin-top: -475px; margin-right: auto; margin-left: 0}
.u-section-4 .u-image-3 {width: 372px; height: 52px; margin-top: 25px; margin-right: 26px}
.u-section-4 .u-text-1 {width: 269px; margin-top: 62px; margin-right: 78px; margin-left: 193px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 547px}
.u-section-4 .u-layout-wrap-1 {margin-top: -103px; margin-bottom: 102px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 513px}
.u-section-4 .u-image-1 {margin-top: 194px; margin-left: auto}
.u-section-4 .u-image-2 {height: 122px; width: 330px; margin-top: -362px; margin-left: -5px; margin-right: -5px}
.u-section-4 .u-image-3 {width: 320px; height: 45px; margin-top: 33px; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-1 {margin-top: 12px; margin-left: 17px; margin-right: 17px; width: 286px} }.u-section-5 .u-sheet-1 {min-height: 751px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 751px}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-image-1 {width: 486px; height: 524px; margin: 31px auto 0 216px}
.u-section-5 .u-image-2 {width: 516px; height: 336px; margin: -467px auto 0 94px}
.u-section-5 .u-image-3 {width: 912px; height: 69px; margin: 35px auto 0 24px}
.u-section-5 .u-text-1 {font-size: 1.125rem; font-weight: 300; width: 616px; margin: 27px 461px 0 24px} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {width: 401px; height: 432px; margin-top: 52px; margin-left: 178px}
.u-section-5 .u-image-2 {width: 425px; height: 277px; margin-top: -396px; margin-left: 77px}
.u-section-5 .u-image-3 {width: 752px; height: 57px; margin-left: 19px}
.u-section-5 .u-text-1 {width: 501px; margin-right: 380px; margin-left: 19px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 573px}
.u-section-5 .u-layout-cell-1 {min-height: 572px}
.u-section-5 .u-image-1 {width: 307px; height: 331px; margin-top: 73px; margin-left: 136px}
.u-section-5 .u-image-2 {width: 326px; height: 213px; margin-top: -347px; margin-left: 59px}
.u-section-5 .u-image-3 {width: 576px; height: 44px; margin-left: 15px}
.u-section-5 .u-text-1 {width: 384px; margin-right: 291px; margin-left: 15px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-layout-cell-1 {min-height: 591px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {width: 288px; height: 310px; margin-top: 168px; margin-left: 102px}
.u-section-5 .u-image-2 {width: 305px; height: 199px; margin-top: -421px; margin-left: 44px}
.u-section-5 .u-image-3 {width: 522px; height: 40px; margin-top: 44px; margin-left: -1px; margin-right: -1px}
.u-section-5 .u-text-1 {width: 311px; margin-top: 54px; margin-right: 198px; margin-left: 11px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 550px}
.u-section-5 .u-layout-cell-1 {min-height: 550px}
.u-section-5 .u-image-1 {width: 276px; height: 276px; margin-top: 151px; margin-left: auto}
.u-section-5 .u-image-2 {margin-top: -388px; margin-left: auto}
.u-section-5 .u-image-3 {height: 21px; width: 283px; margin-top: 40px; margin-left: auto; margin-right: auto}
.u-section-5 .u-text-1 {margin-top: 43px; margin-left: 12px; margin-right: 12px; width: 297px} }.u-section-6 .u-sheet-1 {min-height: 751px}
.u-section-6 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 751px}
.u-section-6 .u-container-layout-1 {padding: 20px}
.u-section-6 .u-image-1 {width: 534px; height: 566px; margin: 0 12px 0 auto}
.u-section-6 .u-image-2 {width: 506px; height: 357px; margin: -507px 151px 0 auto}
.u-section-6 .u-image-3 {width: 839px; height: 46px; margin: -13px 12px 0 auto}
.u-section-6 .u-text-1 {font-size: 1.25rem; font-weight: 600; width: 527px; margin: 32px 324px 0 249px} 

@media (max-width: 1199px){ .u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-image-1 {width: 440px; height: 467px; margin-top: 80px; margin-right: 10px}
.u-section-6 .u-image-2 {width: 549px; height: 387px; margin-top: -553px; margin-right: auto; margin-left: 135px}
.u-section-6 .u-image-3 {width: 692px; height: 38px; margin-top: 28px; margin-right: 10px}
.u-section-6 .u-text-1 {width: 428px; margin-top: 0; margin-right: 136px; margin-left: 336px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 560px}
.u-section-6 .u-layout-cell-1 {min-height: 560px}
.u-section-6 .u-image-1 {width: 337px; height: 358px; margin-top: 213px; margin-right: 8px}
.u-section-6 .u-image-2 {width: 379px; height: 267px; margin-top: -507px; margin-right: 129px; margin-left: auto}
.u-section-6 .u-image-3 {width: 530px; height: 29px; margin-top: 46px; margin-right: auto; margin-left: 21px}
.u-section-6 .u-text-1 {width: auto; margin-top: 19px; margin-right: 332px; margin-left: 21px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-layout-cell-1 {min-height: 591px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {width: 316px; height: 335px; margin-top: 285px; margin-right: 6px}
.u-section-6 .u-image-2 {width: 362px; height: 255px; margin-top: -555px; margin-right: auto; margin-left: 64px}
.u-section-6 .u-image-3 {width: 497px; height: 27px; margin-top: 127px; margin-left: 16px}
.u-section-6 .u-text-1 {margin-top: -64px; margin-right: 215px; margin-left: 36px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 498px}
.u-section-6 .u-layout-wrap-1 {margin-bottom: 4px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 493px}
.u-section-6 .u-image-1 {margin-top: 90px; margin-right: auto}
.u-section-6 .u-image-2 {height: 198px; width: 281px; margin-top: -394px; margin-left: auto}
.u-section-6 .u-image-3 {width: 314px; height: 17px; margin-top: 0; margin-left: auto}
.u-section-6 .u-text-1 {margin-top: 14px; margin-left: 17px; margin-right: 17px; width: 286px} }.u-section-7 .u-sheet-1 {min-height: 751px}
.u-section-7 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-7 .u-layout-cell-1 {min-height: 751px}
.u-section-7 .u-container-layout-1 {padding: 20px}
.u-section-7 .u-image-1 {width: 486px; height: 524px; margin: 19px auto 0 0}
.u-section-7 .u-image-2 {width: 296px; height: 435px; margin: -479px auto 0 373px}
.u-section-7 .u-image-3 {width: 983px; height: 54px; margin: -24px auto 0 24px}
.u-section-7 .u-text-1 {font-size: 1.125rem; font-weight: 300; width: 616px; margin: 27px 460px 0 24px} 

@media (max-width: 1199px){ .u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {width: 401px; height: 432px; margin-top: 35px}
.u-section-7 .u-image-2 {width: 269px; height: 394px; margin-top: -450px; margin-right: 296px; margin-left: auto}
.u-section-7 .u-image-3 {width: 846px; height: 41px; margin-top: 0; margin-left: 19px}
.u-section-7 .u-text-1 {width: 501px; margin-right: 380px; margin-left: 19px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 573px}
.u-section-7 .u-layout-cell-1 {min-height: 572px}
.u-section-7 .u-image-1 {width: 307px; height: 331px; margin-top: 12px}
.u-section-7 .u-image-2 {width: 189px; height: 270px; margin-top: -331px; margin-right: auto; margin-left: 183px}
.u-section-7 .u-image-3 {width: 665px; height: 37px; margin-top: -7px; margin-right: 0; margin-left: auto}
.u-section-7 .u-text-1 {width: 384px; margin-right: 281px; margin-left: 15px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-layout-cell-1 {min-height: 591px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-1 {width: 288px; height: 310px; margin-top: 128px}
.u-section-7 .u-image-2 {width: 206px; height: 303px; margin-top: -426px; margin-left: 137px}
.u-section-7 .u-image-3 {width: 498px; height: 27px; margin-top: 31px; margin-right: auto}
.u-section-7 .u-text-1 {width: 311px; margin-top: 21px; margin-right: 198px; margin-left: 11px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 537px}
.u-section-7 .u-layout-wrap-1 {margin-top: 10px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 527px}
.u-section-7 .u-image-1 {margin-top: 50px; margin-left: auto}
.u-section-7 .u-image-2 {width: 161px; height: 236px; margin-top: -373px; margin-left: auto}
.u-section-7 .u-image-3 {width: 286px; height: 16px; margin-top: 42px}
.u-section-7 .u-text-1 {width: 297px; margin-top: 38px; margin-left: 12px; margin-right: 12px} }